# Ignore node_modules folder (JavaScript projects)
node_modules/
allure-report/
package-lock.json
reports/

# Ignore log files
*.log

# Ignore .env files containing environment variables
.env

# Ignore compiled files
*.class
*.exe